**Pandas Data Frames**

In [1]:
import pandas as pd

In [2]:
file_name="/content/titanic.csv"
df = pd.read_csv(file_name)

In [3]:
df.head()

   pclass                                             name  ... embarked  survived
0       1                    Allen, Miss. Elisabeth Walton  ...        S         1
1       1                   Allison, Master. Hudson Trevor  ...        S         1
2       1                     Allison, Miss. Helen Loraine  ...        S         0
3       1             Allison, Mr. Hudson Joshua Creighton  ...        S         0
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  ...        S         0

[5 rows x 11 columns]

In [4]:
df.head(10)

   pclass                                             name  ... embarked  survived
0       1                    Allen, Miss. Elisabeth Walton  ...        S         1
1       1                   Allison, Master. Hudson Trevor  ...        S         1
2       1                     Allison, Miss. Helen Loraine  ...        S         0
3       1             Allison, Mr. Hudson Joshua Creighton  ...        S         0
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  ...        S         0
5       1                              Anderson, Mr. Harry  ...        S         1
6       1                Andrews, Miss. Kornelia Theodosia  ...        S         1
7       1                           Andrews, Mr. Thomas Jr  ...        S         0
8       1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  ...        S         1
9       1                          Artagaveytia, Mr. Ramon  ...        C         0

[10 rows x 11 columns]

In [5]:
df.to_csv("myDataFrame2.csv")
df.to_excel("myDataFrame2.xlsx")

### **New Section**

In [6]:
df.head()

   pclass                                             name  ... embarked  survived
0       1                    Allen, Miss. Elisabeth Walton  ...        S         1
1       1                   Allison, Master. Hudson Trevor  ...        S         1
2       1                     Allison, Miss. Helen Loraine  ...        S         0
3       1             Allison, Mr. Hudson Joshua Creighton  ...        S         0
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  ...        S         0

[5 rows x 11 columns]

In [7]:
df.tail()

      pclass                       name     sex  ...  cabin  embarked  survived
1304       3       Zabour, Miss. Hileni  female  ...    NaN         C         0
1305       3      Zabour, Miss. Thamine  female  ...    NaN         C         0
1306       3  Zakarian, Mr. Mapriededer    male  ...    NaN         C         0
1307       3        Zakarian, Mr. Ortin    male  ...    NaN         C         0
1308       3         Zimmerman, Mr. Leo    male  ...    NaN         S         0

[5 rows x 11 columns]

In [8]:
df.tail(10)

      pclass                                     name  ... embarked  survived
1299       3                      Yasbeck, Mr. Antoni  ...        C         0
1300       3  Yasbeck, Mrs. Antoni (Selini Alexander)  ...        C         1
1301       3                     Youseff, Mr. Gerious  ...        C         0
1302       3                        Yousif, Mr. Wazli  ...        C         0
1303       3                    Yousseff, Mr. Gerious  ...        C         0
1304       3                     Zabour, Miss. Hileni  ...        C         0
1305       3                    Zabour, Miss. Thamine  ...        C         0
1306       3                Zakarian, Mr. Mapriededer  ...        C         0
1307       3                      Zakarian, Mr. Ortin  ...        C         0
1308       3                       Zimmerman, Mr. Leo  ...        S         0

[10 rows x 11 columns]

In [9]:
df.describe()

            pclass          age  ...         fare     survived
count  1309.000000  1046.000000  ...  1308.000000  1309.000000
mean      2.294882    29.881135  ...    33.295479     0.381971
std       0.837836    14.413500  ...    51.758668     0.486055
min       1.000000     0.166700  ...     0.000000     0.000000
25%       2.000000    21.000000  ...     7.895800     0.000000
50%       3.000000    28.000000  ...    14.454200     0.000000
75%       3.000000    39.000000  ...    31.275000     1.000000
max       3.000000    80.000000  ...   512.329200     1.000000

[8 rows x 6 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   name      1309 non-null   object
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
 7   fare      1308 non-null   float64
 8   cabin     295 non-null    object
 9   embarked  1307 non-null   object
 10  survived  1309 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 112.6+ KB

In [11]:
df.columns

Index(['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket', 'fare',
       'cabin', 'embarked', 'survived'],
      dtype='object')

In [12]:
df['name']

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [13]:
df

      pclass  ... survived
0          1  ...        1
1          1  ...        1
2          1  ...        0
3          1  ...        0
4          1  ...        0
...      ...  ...      ...
1304       3  ...        0
1305       3  ...        0
1306       3  ...        0
1307       3  ...        0
1308       3  ...        0

[1309 rows x 11 columns]

In [14]:
# Create a list
list_a=['a','b','c']
list_a

['a', 'b', 'c']

In [15]:
df_a=pd.DataFrame(list_a)
df_a

   0
0  a
1  b
2  c

In [16]:
dict_df=pd.DataFrame({'http_status':[200,200,404,404,301],'response_time':[0.04,0.02,0.07,0.08,1.0]})
dict_df

   http_status  response_time
0          200           0.04
1          200           0.02
2          404           0.07
3          404           0.08
4          301           1.00

In [17]:
df['survived']

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

In [18]:
df.dtypes

pclass        int64
name         object
sex          object
age         float64
sibsp         int64
parch         int64
ticket       object
fare        float64
cabin        object
embarked     object
survived      int64
dtype: object

## Indexing and selecting segments of our data frame

In [19]:
df.head()

   pclass                                             name  ... embarked  survived
0       1                    Allen, Miss. Elisabeth Walton  ...        S         1
1       1                   Allison, Master. Hudson Trevor  ...        S         1
2       1                     Allison, Miss. Helen Loraine  ...        S         0
3       1             Allison, Mr. Hudson Joshua Creighton  ...        S         0
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  ...        S         0

[5 rows x 11 columns]

In [20]:
#df.loc[row_label,column_label]
df.loc[1,"name"]

'Allison, Master. Hudson Trevor'

In [21]:
df.loc[1308,"name"]

'Zimmerman, Mr. Leo'

In [22]:
# Slicing an entire coumn
df.loc[:,"name"]

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

In [23]:
names=df.loc[:,"name"]

In [24]:
names.head()

0                      Allen, Miss. Elisabeth Walton
1                     Allison, Master. Hudson Trevor
2                       Allison, Miss. Helen Loraine
3               Allison, Mr. Hudson Joshua Creighton
4    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Name: name, dtype: object

In [25]:
# Slicing a row
df.loc[0,:]

pclass                                  1
name        Allen, Miss. Elisabeth Walton
sex                                female
age                                    29
sibsp                                   0
parch                                   0
ticket                              24160
fare                              211.338
cabin                                  B5
embarked                                S
survived                                1
Name: 0, dtype: object

In [26]:
df.iloc[0,1]

'Allen, Miss. Elisabeth Walton'

In [27]:
df.iloc[0]

pclass                                  1
name        Allen, Miss. Elisabeth Walton
sex                                female
age                                    29
sibsp                                   0
parch                                   0
ticket                              24160
fare                              211.338
cabin                                  B5
embarked                                S
survived                                1
Name: 0, dtype: object

In [28]:
df.loc[:,["name","sex"]]

                                                 name     sex
0                       Allen, Miss. Elisabeth Walton  female
1                      Allison, Master. Hudson Trevor    male
2                        Allison, Miss. Helen Loraine  female
3                Allison, Mr. Hudson Joshua Creighton    male
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
...                                               ...     ...
1304                             Zabour, Miss. Hileni  female
1305                            Zabour, Miss. Thamine  female
1306                        Zakarian, Mr. Mapriededer    male
1307                              Zakarian, Mr. Ortin    male
1308                               Zimmerman, Mr. Leo    male

[1309 rows x 2 columns]

In [29]:
df.loc[2:4,:]

   pclass                                             name  ... embarked  survived
2       1                     Allison, Miss. Helen Loraine  ...        S         0
3       1             Allison, Mr. Hudson Joshua Creighton  ...        S         0
4       1  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  ...        S         0

[3 rows x 11 columns]

In [30]:
simple_df=pd.DataFrame({'a':[1,2,3,4,5],'b':[5,10,15,20,25]})
simple_df

   a   b
0  1   5
1  2  10
2  3  15
3  4  20
4  5  25

In [31]:
a=simple_df['a']
a

0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [32]:
b=simple_df['b']

In [33]:
b

0     5
1    10
2    15
3    20
4    25
Name: b, dtype: int64

In [34]:
c=a+b

In [35]:
c

0     6
1    12
2    18
3    24
4    30
dtype: int64